/* Firefox userChrome.css */
#bookmarks-view treechildren::-moz-tree-cell(hover) {
  background-color: #30556E !important;
}

#helpMenu, #edit-menu {
  display: none !important;
}

#sidebar-close {
  visibility: collapse;
}

#sidebar-box {
  -moz-box-direction: reverse;
}

#sidebar-switcher-arrow {
  transform: rotate(180deg);
}
